<div class="fit-slider-wrapper form-item">
  <div class="form-label fit-slider-label">{{label}}</div>
  <div class="fit-slider-row">
    <div class="fit-slider-size-label fit-slider-size-label-small">Small</div>
    <div class="fit-slider-size-label fit-slider-size-label-large">Large</div>
    <div class="fit-slider"></div>
    {{!-- <div class="small-3 columns fit-slider-value-display not-selected">non selected</div> --}}
  </div>
  <input type="hidden" name={{name}} class="fit-slider-value" value="" />
</div>