<div id="mb-j-nav-button" data-cm-link-click="NAVIGATION_MEW-_-TOP_NAV-_-GLOBALNAVICON-n-n">
  <i id="mb-j-nav-button-icon" class="icon-unselectedMenuButton"></i>
</div>
<div id="bagContainer">
  <a id="mb-j-bag-image" href="{{baseUrl}}/bag/index.ognc?cm_sp=NAVIGATION_MEW-_-TOP_NAV-_-BAG-n-n">
    <div id="mb-bag-count-container"></div>
  </a>
</div>
<span id="logoContainer">
  <a href="{{baseUrl}}/?cm_sp=NAVIGATION_MEW-_-TOP_NAV-_-MAINICON-n-n"><img src="/mew20/images/bloomingdales.png" id="mb-j-header-image"></a>
</span>
