<div class="b-msg-toast">
	<span class="b-j-msg-toast-arrow b-j-msg-toast-uparrow"></span>
	<span class="b-j-msg-toast-text">{{message}}</span>
	<span class="b-j-msg-toast-arrow b-j-msg-toast-downarrow"></span>
</div>