<form id="mb-keyword-search-form" method="get" action="/shop/search">
  <input type="hidden" name="cm_sp" value="NAVIGATION_MEW-_-TOP_NAV-_-SEARCH-n-n">
  <span id="mb-search-field-icon" class="icon-search"></span>
  <input id="mb-j-search-field" type="search" maxlength="72" name="keyword" value="" placeholder="Search" autocorrect="off" autocomplete="off" />
  <div id="mb-j-search-clear" class="mb-search-clear icon-searchClear hide"></div>
</form>