#mb-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: white;
  opacity: 0.5;
  display: none;
  line-height: 0px;
  background-image: url(../../images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: 50% 100px;
}