// Make sure the charset is set appropriately
@charset "UTF-8";

@import "compass";
@import "compass/css3/user-interface";

// Normalize the CSS so that defaults are not controlled by the user agent
@import "../../../../bower_components/foundation/scss/normalize";

// Includes all of the overriden global foundation variables
@import "lib/foundation-vars";

// Foundation Components
@import "../../../../bower_components/foundation/scss/foundation/components/global";
@import "../../../../bower_components/foundation/scss/foundation/components/buttons";
@import "../../../../bower_components/foundation/scss/foundation/components/button-groups";
@import "../../../../bower_components/foundation/scss/foundation/components/grid";
@import "../../../../bower_components/foundation/scss/foundation/components/block-grid";
@import "../../../../bower_components/foundation/scss/foundation/components/type";
@import "../../../../bower_components/foundation/scss/foundation/components/forms";

//Include external libraries
@import "lib/idangerous.swiper";

// Include custom mcom variables and mixins
@import "lib/base";

@import "lib/images";
@import "colors";
@import "nav";
@import "content";
@import "facet";
@import "bopsFacet";
@import "marketorial";
@import "mask";
@import "modal";
@import "header";
@import "footer";
@import "home";
@import "search";
@import "stores";
@import "catSplash";
@import "browse";
@import "product";
@import "productGrid";
@import "writeReview";
@import "shop";
@import "buttons";
@import "swiper";
@import "admediaview";
@import "categoryList";
@import "zoom";
@import "error";
@import "productPool";
@import "fixedHeader";
@import "searchResults";
@import "shopCategoriesList";
@import "addto";
@import "brandIndex";
@import "tooltip";
@import "giftCards";
@import "freeShip";
@import "errorOverlay";
@import "confirmOverlay";
@import "widgets/ratingSelect";
@import "widgets/toggleSelect";
@import "widgets/slider";
@import "widgets/select";
@import "share";
@import "sizeChartHtml";
@import "signIn";

// Prevents the flash when the user taps an element
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  @include user-select(none);
}

.m-scroll-fixed-header{
  position: fixed;
  z-index: 100;
  width: 100%;
  background: white;
  visibility: hidden;
  @include overlay-shadow();
}

.m-container {
  padding: 10px;
}

.visible {
  visibility: visible;
}

.selected {
  @include selected();
}

.previous {
  @include previous();
}
