<article id="b-splash-container">
	{{! loop through the marketing banners }}
	<section id="b-ad-container"> </section>

  	{{! loop through the products in productPool }}
	<section id="b-sp-product-pool"></section>
</article>