<div id="b-stores-services-modal">
  <div class="mb-modal-header">
    <div class="row">
      <div class="small-3 columns b-modalHeader-left">
        <button class="mb-j-modalHeader-left">cancel</button>
      </div>
      <div class="small-6 columns b-modalHeader-title truncated">
        Narrow Results
      </div>
      <div class="small-3 columns b-modalHeader-right">
        <button class="mb-j-modalHeader-right">Apply</button>
      </div>
    </div>
  </div>


  <div class="mb-modal-content">
    <div class="stores-button-clear" id="stores-list-button-clear"><button>clear all</button></div>
    <ul class="services-selection-items small-block-grid-1">

      {{#displayConfig}}
      {{#each stores.services}}
        {{#key_value this}}
          <li class="service-value {{#ifSelectedRangeOrValue ../../.. range key}}facet-value-selected service-value-selected{{/ifSelectedRangeOrValue}}" data-service-value="{{key}}">
            <div class="display">
              <span class="service-value-action-icon"></span>
              <div class="display-name">{{value}}</div>
            </div>
          </li>
        {{/key_value}}
      {{/each}}
      {{/displayConfig}}

  </div>
</div>
