<div id="b-bops-search">
  <form id="mb-bops-search-form">
    <div id="b-bops-search-form">
      <div id="bops-errorContainer"></div>

      <div id="bops-search-section">
        <div class="b-search-section">
          <button id="mb-bops-nearme" type="button">Near Me</button>
          <div class="b-bops-address-wrapper">
            <div id="mb-bops-search-icon" class="icon-search"></div>
            <input name="address" type="search" id="mb-bops-address" placeholder="Search by zip code or city, state" value="{{defaultZipCode}}" autocorrect="off" autocomplete="off">
            <span class="mb-bops-search-clear icon-searchClear"></span>
          </div>
        </div>

        <div class="b-search-section">
          <div id="b-bops-distance-wrapper">
            <label for="bops-distance" class="b-select-button inline">Distance</label>
            <div class="b-select-wrapper">
              <select name="distance" class="b-select" id="mb-bops-distance">
                <option value="5">5 miles</option>
                <option value="10">10 miles</option>
                <option value="25" selected>25 miles</option>
                <option value="50">50 miles</option>
                <option value="100">100 miles</option>
              </select>
            </div>
          </div>
        </div>

        <div class="b-bops-buttons">
          <div class="b-bops-button b-bops-search-wrapper small-12">
            <button id="mb-bops-search" type="submit">Search</button>
          </div>

          <div class="b-bops-button b-bops-cancel-wrapper small-12">
            <button id="mb-bops-cancel" type="button">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div id="b-bops-search-details">
    <div class="b-bops-search-details-wrapper">
      <button id="mb-bops-change">Change</button>
      <div id="b-bops-search-details-text">Stores within 25 miles of 90048</div>
    </div>
  </div>
</div>