<div class="fit-slider-wrapper form-item">
  <div class="fit-slider-label">{{label}}</div>
  <div class="row">
    <div class="small-9 columns nopad fit-slider"></div>
    <div class="small-3 columns fit-slider-value-display not-selected">non selected</div>
  </div>
  <input type="hidden" name={{name}} class="fit-slider-value" value="" />
</div>