<div class="form-item" id="{{name}}-form-item">
  <div class="form-label">{{label}}</div>
  {{#if smallText}}
    <div class="form-label form-label-right">{{smallText}}</div>
  {{/if}}
  <input type="text" name="{{name}}" maxlength="50" />
</div>