<div class="form-item" id="reviewtext-form-item">
  <div class="form-label">Your Review</div>
  <div class="form-label-right"><span class="mb-j-character-count">0</span> characters (min 50; max 1000)</div>
  <div class="clearfix"></div>
  <textarea name="reviewtext" maxlength="1000"></textarea>
</div>