<div class="form-item" id="displayName-form-item">
  <div class="form-label">Your Nickname</div>
  <input type="text" name="displayName" maxlength="25" />
  <span class="form-description">Do not use full name or email. Letters and numbers only, no symbol or spaces.</span>
</div>