<ul class="mobileSortButtons">
  <li class="mobileSortButton original {{#unless requestParams.sortorderby}} selected {{/unless}}"><a>FEATURED</a><span class="pointer"></span></li>
  <li class="mobileSortButton {{#if_eq requestParams.sortorderby compare='NEWNESS'}} selected {{/if_eq}}" id="NEWNESS"><a>NEWEST</a><span class="pointer"></span></li>
  <li class="mobileSortButton {{#if_eq requestParams.sortorderby compare='BEST_SELLERS'}} selected {{/if_eq}}" id="BEST_SELLERS"><a>BEST SELLERS</a><span class="pointer"></span></li>
  <li class="mobileSortButton {{#if_eq requestParams.sortorderby compare='PRICE_ASCENDING'}} selected {{/if_eq}} {{#if_eq requestParams.sortorderby compare='PRICE_DESCENDING'}} selected {{/if_eq}}"
      id="{{#if_eq requestParams.sortorderby compare='PRICE_DESCENDING'}}PRICE_DESCENDING{{else}}PRICE_ASCENDING{{/if_eq}}">
    <a>PRICE</a><span class="priceArrow"></span><span class="pointer"></span>
  </li>
</ul>