<section id="b-search-no-results">
	<div class="b-search-secton">
    <span>Unfortunately, no results were found for </span>
    <span class="b-search-keyword">{{requestParams.searchphrase}}.</span>
  </div>

  <div id="b-product-latchkeys" class="b-search-latchkeys">
    <span class="b-j-product-latchkey selected">Featured Designers</span>
    <span class="b-j-product-latchkey">Featured Categories</span>
	</div>

	<div id="b-featured-desginers" class="selectedLatchKey">
    <div class="facet-list-item show"><a href="/shop/search?keyword=aqua">
    	<div class="select">Aqua</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=burberry">
    	<div class="select">Burberry</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=diane+von+furstenberg">
    	<div class="select">DIANE von FURSTENBERG</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=kate+spade+new+york">
			<div class="select">kate spade new york</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=MARC+BY+MARC+JACOBS">
    	<div class="select">MARC BY MARC JACOBS</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Marc+Jacobs">
    	<div class="select">Marc Jacobs</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Michael+Kors">
    	<div class="select">Michael Kors</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Ralph+Lauren">
    	<div class="select">Ralph Lauren</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Salvatore+Ferragamo">
    	<div class="select">Salvatore Ferragamo</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Theory">
    	<div class="select">Theory</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Tory+Burch">
    	<div class="select">Tory Burch</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=UGG+Australia">
    	<div class="select">UGG® Australia</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/all-designers?id=1001351">
    	<div class="select">VIEW ALL DESIGNERS</div></a>
    </div>
	</div>

	<div id="b-featured-categories">
	  <div class="facet-list-item show"><a href="/shop/search?keyword=Beauty">
      <div class="select">Beauty</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Bedding">
      <div class="select">Bedding</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Cashmere">
      <div class="select">Cashmere</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=coats+jackets">
      <div class="select">Coats & jackets</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Denim">
      <div class="select">Denim</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Dresses">
      <div class="select">Dresses</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Handbags">
      <div class="select">Handbags</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Jewelry">
      <div class="select">Jewelry</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Kids">
      <div class="select">Kids</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Kitchen">
      <div class="select">Kitchen</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Shoes">
      <div class="select">Shoes</div></a>
    </div>
    <div class="facet-list-item show"><a href="/shop/search?keyword=Watches">
      <div class="select">Watches</div></a>
    </div>
	</div>

	<div class="facet-list-item faqs"><a href="{{#displayConfig}}{{paths.rightnowUrl}}{{/displayConfig}}/app/home">
		<div class="select">FAQs</div></a>
	</div>

</section>