<section id="b-error-view-container">
  <div class="b-error-description">
    {{> errorText}}
  </div>
  <button class="b-error-button">
    <a href="/" class="b-error-button-link">Continue Shopping</a>
  </button>
</section>