#b-error-view-container {
  padding: 15px;
}

.b-error-description {
  padding-top: 15px;
  font-size: 16px;
  color: $copy-color;
}

.b-error-succint,
.b-error-button-container {
  text-align: center;
}

.b-phone-link {
  color: $copy-color;

  &:hover,
  &:active,
  &:visited {
    color: $copy-color;
  }
}

.b-error-button {
  @include b-button(black, true, $button-jum);
  text-transform: uppercase;

  & > .b-error-button-link {
    color: #fff;

    &:hover,
    &:active,
    &:visited {
      color: #fff;
    }
  }
}

/*-------------------------------- ERROR OVERLAY ---------------------------------*/

.mb-j-error-overlay {
  position: fixed;
  top: $headerContainerHeight + $searchFieldHeight;
  left: 0px;
  width: 100%;
  background-color: #fff;
  z-index: 210;
  border-top: 1px solid $lightGrey;
  border-bottom: 1px solid $lightGrey;

  .b-overlay-header {
    @include clearfix;

    border-bottom: 1px solid $lightGrey;
    padding: 5px 0;

    .b-error-title {
      width: 50%;
      float: left;
      padding: 4px 0 0 15px;
      font-weight: bold;
    }

    .mb-j-overlay-close, .mb-j-overlay-close:hover {
      width: 50%;
      float: right;
      height: 100%;
      font-size: 11px;
      font-weight: bold;
      text-align: right;
      background-color: transparent;
      box-shadow: none;
      text-transform: uppercase;
    }

    .b-overlay-close-text {
      position: relative;
      padding-right: 5px;
      top: 2px;
    }

    .icon-close {
      display: inline-block;
      height: 22px;
      margin-right: 15px;
      vertical-align: middle;
    }
  }

  .b-overlay-content {
    padding-bottom: 20px;
    overflow: hidden;
    clear: both;

    .mb-overlay-tryagain {
      color: #000000;
      text-decoration: underline;
    }
  }
}
