<div id="m-bops-search">
  <div id="m-bops-search-form">
    <div id="bops-errorContainer"></div>

    <h1 class="base">Pick Up In-Store</h1>

    <div id="bops-search-section">
      <div class="m-search-section m-address row">
        <div class="m-bops-address-wrapper small-11 columns nopad">
          <input name="address" type="text" id="mb-bops-address" class="box-search" placeholder="Zip code or city/state" value="{{defaultZipCode}}">
          <div class="mb-bops-search-clear icon-searchClear icon-search-clear"></div>
        </div>
        <div id="mb-bops-nearme" class="m-nearme small-1 columns nopad"></div>
      </div>

      <div class="m-search-section">
        <div class="m-select-wrapper" id="m-bops-distance-wrapper">
          <div class="m-select-button"><div class="display">Show stores within {{distance}} miles</div></div>
          <select name="distance" class="m-select" id="mb-bops-distance">
            <option value="5" {{#if_eq distance compare="5"}}selected{{/if_eq}}>Show stores within 5 miles</option>
            <option value="10" {{#if_eq distance compare="10"}}selected{{/if_eq}}>Show stores within 10 miles</option>
            <option value="25" {{#if_eq distance compare="25"}}selected{{/if_eq}}>Show stores within 25 miles</option>
            <option value="50" {{#if_eq distance compare="50"}}selected{{/if_eq}}>Show stores within 50 miles</option>
            <option value="100" {{#if_eq distance compare="100"}}selected{{/if_eq}}>Show stores within 100 miles</option>
          </select>
        </div>
      </div>

      <div class="m-bops-buttons">
        <div class="m-bops-button m-bops-search-wrapper">
          <button id="mb-bops-search" class="m-button">Search</button>
        </div>
      </div>

    </div>
  </div>
</div>
