{{> modalHeader}}

<div id="m-facet-bops-modal" class="mb-modal-content">
  <div class="facet-button-clear">
    <button id="mb-bops-clear" class="m-button">Clear In-Store Pickup</button>
  </div>

  <div id="m-facet-bops-search">
    {{> bopsSearch}}
  </div>
  <div id="mb-facet-bops-results"></div>
</div>
