<li class="facet-value facet-value-{{stripNonAlpha this}}" data-facet-value="{{this}}">
  <div class="display">
    <div class="display-inner">
      <div class="display-name">{{this}}</div>
    </div>
  </div>
</li>
