
<div class="mb-modal-header">
  <div class="row">
    <div class="small-1 columns m-header-first"><div class="mb-j-modalHeader-left m-back">&nbsp;</div></div>
    <div class="small-10 columns m-header-title left nopad">Review Guidelines</div>
  </div>
</div>

<div class="mb-modal-content">
  <p class="m-wr-modals">When writing your review, please consider the following guidelines:</p>
  <ul class="m-wr-lists m-wr-modals">
    <li>Focus on the product and your individual experience using it</li>
    <li>Provide details about why you liked or disliked a product</li>
    <li>All submitted reviews are subject to the terms set forth in our Terms of Use</li>
  </ul>
  <p class="m-wr-modals">We reserve the right not to post your review if it contains any of the following types of content or violates other guidelines:</p>
  <ul class="m-wr-lists m-wr-modals">
    <li>Obscenities, discriminatory language, or other language not suitable for a public forum</li>
    <li>Advertisements, “spam” content, or references to other products, offers, or websites</li>
    <li>Email addresses, URLs, phone numbers, physical addresses or other forms of contact information</li>
    <li>Critical or spiteful comments on other reviews posted on the page or their authors</li>
  </ul>
  <p class="m-wr-modals">In addition, if you wish to share feedback with us about product selection, pricing, ordering, delivery or other customer service issues, please do not submit this feedback through a product review. Instead,
  <a href="http://customerservice.macys.com/app/contact" target="_blank">contact us</a> directly. </p>
  <p class="m-wr-modals">Enjoy writing your review!</p>
</div>