<section class="m-product-prices single" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
{{#productCurrentPrice prices}}
  <div class="m-product-price {{stripNonAlpha label}}">
    {{#if label}}
      <span class="m-product-price-label">{{label}} </span>
    {{/if}}
    <span class="m-product-price-amt" itemprop="price">{{amt}}</span>
    <meta itemprop="priceValidUntil" content="{{priceValidDate ../saleEndDate}}" />
    <meta itemprop="priceCurrency" content="USD" />
  </div>
{{/productCurrentPrice}}
</section>
