<section id="mj-product-promotion" class="m-product-promotion">
  <div id="m-product-promotion" class="m-master-product-promotion m-clickable">
    <div class="m-bg-arrow">
    	<strong>{{badges.promotionbadge.[0]}}</strong> {{#if_gt badges.promotionbadge.length compare="1"}}<span>+ more offers</span>{{/if_gt}}
	</div>
  </div>
</section>
