<div class="row">
  <div class="small-12 columns">
    <section id="product-share-email" class="m-rule-bottom">
      <a id="product-share-email-link" href="{{productShareEmailLink this}}">email</a>
    </section>
  </div>
</div>