<div id="m-free-ship-details-modal">
  <div class="mb-modal-header">

    <div class="row">
      <div class="small-1 columns m-header-first"><div class="mb-j-modalHeader-left m-back">&nbsp;</div></div>
      <div class="small-10 columns m-header-title left nopad">Details</div>
    </div>
  </div>

  <div class="mb-modal-content">
    <h2>Shipping offer exclusions:</h2>
    <p>Exclusions apply to all special Shipping Offers, including Free Shipping, $9.95 Flat-Fee Shipping, 99¢ Shipping and $5 Shipping. The minimum purchase amount for each Shipping Offer does not include gift wrap charges, purchases of gift cards or tax. Offer applies to Standard Shipping to one location and may be applied to Premium or Overnight Shipping for an upgrade fee. Shipping Offers do not apply to furniture, mattresses, purchases in Macy's stores or prior purchases. Due to size and/or weight, certain items bear a shipping surcharge, which will still apply. Free and $9.95 Flat-Fee shipping applies only to the shipping costs from our United States warehouse to Fifty One's domestic warehouse. Additional costs will be incurred when shipping from FiftyOne to the final international destination. International shipping fees will be calculated at checkout. Beauty items cannot be shipped internationally and do not qualify for Free Shipping at $50 offer. We apologize for any inconvenience this may cause.</p>

    <h2>Applying promo codes:</h2>
    <p>If you have a promo code, enter it in the box labeled "HAVE A PROMO CODE?" and click "APPLY." You may enter the promo code in your shopping bag any time before or during checkout. Only one promo code may be used per transaction.</p>

    <h2>Still have questions?</h2>
    <p>See our <a href="https://customerservice.macys.com/app/answers/detail/a_id/260/theme/popup" target="_blank">Shipping Policy<a/> or <a href="https://customerservice.macys.com/app/contact/theme/popup" target="_blank">contact us</a></p>
  </div>
</div>
