{{#if rating.values}}
	<div class="m-product-reviews-sliders">
  
    <header><span>Fit Scale: </span>Based on feedback from {{rating.cnt}} reviews</header>
    <div class="m-product-reviews-sliders-bottom">
      <div class="m-product-reviews-experience">
        {{>productFitSlider}}
      </div>
    </div>

	</div>
{{/if}}