
<div class="mb-modal-header">
  <div class="row">
    <div class="small-1 columns m-header-first"><div class="mb-j-modalHeader-left m-back">&nbsp;</div></div>
    <div class="small-10 columns m-header-title left nopad">Terms and Conditions</div>
  </div>
</div>

<div class="mb-modal-content">
  <p class="m-wr-modals">By submitting any content to Macy's, you represent and warrant that:</p>
  <ul class="m-wr-lists m-wr-modals">
    <li>you are the sole author and owner of the intellectual property rights thereto;</li>
    <li>all "moral rights" that you may have in such content have been voluntarily waived by you;</li>
    <li>all content that you post is accurate;</li>
    <li>you are at least 13 years old;</li>
    <li>use of the content you supply does not violate these Terms of Use and will not cause injury to any person or entity.</li>
  </ul>
  <p class="m-wr-modals">You further agree and warrant that you shall not submit any content:</p>
  <ul class="m-wr-lists m-wr-modals">
    <li>that is known by you to be false, inaccurate or misleading;</li>
    <li>that infringes any third party's copyright, patent, trademark, trade secret or other proprietary rights or rights of publicity or privacy;</li>
    <li>that violates any law, statute, ordinance or regulation (including, but not limited to, those governing export control, consumer protection, unfair competition, anti-discrimination or false advertising);</li>
    <li>that is, or may reasonably be considered to be, defamatory, libelous, hateful, racially or religiously biased or offensive, unlawfully threatening or unlawfully harassing to any individual, partnership or corporation;</li>
    <li>for which you were compensated or granted any consideration by any third party;</li>
    <li>that includes any information that references other websites, addresses, email addresses, contact information or phone numbers;</li>
    <li>that contains any computer viruses, worms or other potentially damaging computer programs or files.</li>
  </ul>
  <p class="m-wr-modals">You agree to indemnify and hold Macy's (and its officers, directors, agents, subsidiaries, joint ventures, employees and third-party service providers, including but not limited to Bazaarvoice, Inc.), harmless from all claims, demands, and damages (actual and consequential) of every kind and nature, known and unknown including reasonable attorneys' fees, arising out of a breach of your representations and warranties set forth above, or your violation of any law or the rights of a third party.</p>
  <p class="m-wr-modals">For any content that you submit, you grant Macy's a perpetual, irrevocable, royalty-free, transferable right and license to use, copy, modify, delete in its entirety, adapt, publish, translate, create derivative works from and/or sell and/or distribute such content and/or incorporate such content into any form, medium or technology throughout the world without compensation to you.</p>
  <p class="m-wr-modals">All content that you submit may be used at Macy's's sole discretion. Macy's reserves the right to change, condense or delete any content on Macy's's website that Macy's deems, in its sole discretion, to violate the content guidelines or any other provision of these Terms of Use. Macy's does not guarantee that you will have any recourse through Macy's to edit or delete any content you have submitted. Ratings and written comments are generally posted within two to four business days. However, Macy's reserves the right to remove or to refuse to post any submission for any reason. You acknowledge that you, not Macy's, are responsible for the contents of your submission. None of the content that you submit shall be subject to any obligation of confidence on the part of Macy's, its agents, subsidiaries, affiliates, partners or third party service providers and their respective directors, officers and employees.</p>
  <p class="m-wr-modals">By submitting your email address in connection with your rating and review, you agree that Macy's and its third party service providers may use your email address to contact you about the status of your review and other administrative purposes.</p>
</div>