<div id="tooltip{{acc}}" class="error-tooltip">
  <div class="tt-content-container">
    <div class="tt-content">
      {{{content}}}
    </div>
  </div>
  <div class="tt-arrow">
    <div class="outer-arrow"></div>
    <div class="inner-arrow"></div>
  </div>
</div>
