<div id="m-video-mask"></div>
<object id="{{videoId}}_v" class="BrightcoveExperience">
  <param name="@videoPlayer" value="ref:{{videoId}}" />
  <param name="playerID" value="{{playerId}}">
  <param name="publisherID" value="{{publisheId}}">
  <param name="bgcolor" value="#000000" />
  <param name="width" value="100%" />
  <param name="height" value="280" />
  <param name="isVid" value="true" />
  <param name="isUI" value="true" />
  <param name="dynamicStreaming" value="true" />
  <param name="includeAPI" value="true" /> 
  <param name="templateReadyHandler" value="MACYS.onTemplateReady" />
</object>
