<div style="font-weight: bold; margin-bottom: 10px">
  Please note that your review may take up to 48 hours to appear.
</div>

<div>
  <span style="color: #c00">You've been entered for a chance to win a $1,000 gift card</span> just for submitting your product review!
  The winner will be drawn on or by November 7, 2014. <a id="m-j-review-success" href="#">see details</a>
</div>