<div class="m-header boldtext">
  <span>Add to Registry</span>
  <button class="mb-j-overlay-close m-modal-button">&nbsp;</button>
</div>
<div class="m-content">
  <p class="m-text">We're unable to find your registry in your online profile.</p>
  <p class="m-question">Registered in store?</p>
  <button class="m-access-registry" >access registry</button>
  <p class="m-question">Want to create a registry?</p>
  
  <button class="m-create-registry">create registry</button>
</div>
