<ul class="mb-autocomplete-container">

	{{#each SUGGESTION}}
    <li>
    	<a href="/shop/search?keyword={{this}}&cm_kws_ac={{../prefix}}" class="mb-select-autocomplete" data-kwac="{{../prefix}}">
    		<div class="select" >{{autoCompleteList this ../prefix}}</div>
    	</a>
    </li>
	{{/each}}

</ul>