{{#each searchResults}}
  <li class="facet-value">
    <div class="display">
      <div class="display-inner">
        <a class="display-name" href="{{brandURL}}">{{brandName}}</a>
      </div>
    </div>
  </li>
{{/each}}