<article id="m-catsplash-container">
	<section id="m-catsplash-header" class="m-header">
		<div class="row">
			<h1 id="m-catsplash-category-name" class="small-12 columns m-header-title">
				{{category.name}}
			</h1>
		</div>
	</section>

  <h2 id="m-catsplash-featured">Featured in {{#if category.parentCatName}}{{category.parentCatName}}{{else}}{{category.name}}{{/if}}</h2>

  <section id="m-ad-container"></section>
	<section id="m-product-pool"></section>
</article>
