<div {{#if id}}id="{{id}}"{{/if}} class="m-confirm-overlay">

  <div class="m-header">
    <div class="left">{{{header}}}</div>
    <div class="right mb-j-close"></div>
  </div>

  <div class="m-content">{{{content}}}</div>

  <div class="m-footer">{{{footer}}}</div>
</div>
