<div id="m-error-modal">
  <div class="m-header mb-modal-header">

    <div class="row">
      <div class="small-1 columns m-header-first"><div class="mb-j-modalHeader-left m-back">&nbsp;</div></div>
      <div class="small-10 columns m-header-title left nopad">Technical Issue</div>
    </div>
  </div>

  <div class="mb-modal-content">
      <div class="small-18 small-centered columns">
        {{> errorText }}
        <div class="m-error-center m-error-button">
          <button id="continue-shopping" class="button">Continue Shopping</button>
        </div>
      </div>
  </div>
</div>

