<div class="small-10 small-centered columns">
  <div class="m-error">
      {{> errorText }}
  </div>
  <div class="m-error-center m-error-button">
    <button id="continue-shopping" class="button">Continue Shopping</button>
  </div>
</div>
