<div class="mb-modal-header brand-modal-header">
  <div class="row">
    <div class="small-9 columns">
      <form class="brand-search-form m-header-container">
        <input class="brand-search box-search" type="search" value="" autocorrect="off" placeholder="Search brands">
      </form>
      <span class="brand-search-clear icon-search-clear"></span>
    </div>
    <div class="small-3 columns">
      <button class="mb-j-modalHeader-right" id="brand-modal-button-right">Cancel</button>
    </div>
  </div>
</div>
<ul id="facet-brand-search-modal-list" class="facet-selection-items small-block-grid-1 facet-{{facet.name}}"></ul>

