<article id="m-freeship-container">
    <section class="m-freeship-callouts small-11 small-centered columns">
      	<img id="m-freeship-image" src="/mew20/images/free-shipping.svg">
        <h4 id="m-freeship-title">you asked, we delivered!</h4>
        <p>
        	<span class="m-freeship-callout">FREE SHIPPING</span>
	        <span class="m-freeship-callout-details">
	            WITH $99 PURCHASE
	        </span>
	    </p>
	    <p>
	        <span class="m-freeship-callout">+</span>
	        <span class="m-freeship-new-callout">NEW!</span> 
	        <span class="m-freeship-callout">FREE RETURNS</span>
	        <span class="m-freeship-callout-details m-bymail">
	            BY MAIL
	        </span>
	    </p>
        <p class="m-freeship-now">Now, you can return items by mail absolutely free!</p>
        <p>Just use the pre-addressed shipping label in your order to return your purchase.
          You can also take your return to any Macy's store.
        </p>
        <a id="m-freeship-start" class="m-button" href="/shop/shop-by-category?id=63482">start shopping</a>
    </section>
    <section class="m-freeship-section">
      <div class="m-freeship-info small-11 small-centered columns">
        <div class="m-freeship-details-standout">$9.95</div>
        <div class="m-freeship-details-standard">Flat-Fee Shipping</div>
        <div class="m-freeship-details-small">with purchases under $99. no code, no end</div>
      </div>
      <div class="m-freeship-divider"></div>
      <div class="m-freeship-info small-11 small-centered columns">
      	<img id="m-freeship-returns-image" src="/mew20/images/free-returns.svg">
        <div class="m-freeship-details-standout">Free Shipping</div>
        <div class="m-freeship-details-standard">at $50 on beauty</div>
        <div class="m-freeship-details-small">all year long. no code needed.</div>
      </div>
    </section>
    <div class="m-freeship-divider"></div>
    <div id="m-freeship-shop-categories">
    </div>
    <section class="m-freeship-fine-details small-11 small-centered columns" >
      <p>
        <h6>Shipping offer exclusions:</h6>
        Exclusions apply to all special Shipping Offers, including Free Shipping, $8 Flat-Fee Shipping, 99¢ Shipping and $5 Shipping. The minimum purchase amount for each Shipping Offer does not include gift wrap charges, purchases of gift cards or tax. Offer applies to Standard Shipping to one location and may be applied to Premium or Overnight Shipping or an upgrade fee. Shipping Offers do not apply to Coach, furniture, mattresses, purchases in Macy's stores or prior purchases. Due to size and/or weight, certain items bear a shipping surcharge, which will still apply. When shipping to multiple addresses, only shipping to the first address will qualify for Shipping Offer; Standard Shipping will apply to all other addresses. Shipping Offers cannot be applied to purchases being shipped to US Territories or APO/FPO addresses.
      </p>
      <p>
        <h6>Free Returns exclusions:</h6>
        Free Returns exclude gift cards, food, gourmet gifts, lamps, wall art, mirrors, furniture, mattresses & area rugs. Free Returns do not apply to international orders. You can return merchandise for a full refund, which will be credited on your original tender. Gift returns or orders with different shipping & billing information—or if you paid with a Gift Card—are refunded on an Easy Exchange Card, which you can use for future online or in-store purchases.
      </p>
      <p>
        <h6>Applying promo codes:</h6>
        If you have a promo code, enter it in the box labeled "HAVE A PROMO CODE?" and click "APPLY." You may enter the promo code in your shopping bag any time before or during checkout. Only one promo code may be used per transaction.
      </p>
    </section>
    <section class="m-freeship-links  small-11 small-centered columns">
      <h6>Still have questions?</h6>
      <a class="m-j-cm-link" href="http://customerservice.macys.com/app/answers/detail/a_id/260?cm_sp=mew_navigation-_-customer_service-_-shipping_policy">Shipping Policy</a>
      <a class="m-j-cm-link" href="https://customerservice.macys.com/app/answers/list/session/L2F2LzEvdGltZS8xMzk2MzgxMjE4L3NpZC9Kc0I5bkpRbA%3D%3D/c/4?cm_sp=mew_navigation-_-customer_service-_-return_policy">Return Policy</a>
      <a class="m-j-cm-link" href="http://customerservice.macys.com/app/contact?cm_sp=mew_navigation-_-customer_service-_-contact_us">Contact Us</a>
    </section>
    <div class="m-freeship-divider"></div>
</article>
