<div class="m-gift-cards">
  <div class="row m-header gift-header">Gift Cards</div>
  <div class="row">
    <div class="small-6 columns m-gift-card">
      <a href="http://www1.macys.com/catalog/syndicated/cardways/ChooseGiftCard.ognc#top" class="verticle-align-center">
        <img src="/mew20/images/icon_gift-card_modified.svg" alt="Gift Cards">
      </a>
    </div>
    <div class="small-6 columns m-e-gift-card">
      <a href="/shop/gift-cards?id=30668">
        <img src="/mew20/images/icon_e-gift-card.svg" alt="E-Gift Cards">
      </a>
    </div>
  </div>
  <div class="row">
    <div class="small-6 columns text-center m-gift-card-text">
      <a href="http://www1.macys.com/catalog/syndicated/cardways/ChooseGiftCard.ognc#top">
        <div>Gift Cards</div>
      </a>
    </div>
    <div class="small-6 columns text-center m-e-gift-card-text">
      <a href="/shop/gift-cards?id=30668">
        <div>E-Gift Cards</div>
      </a>
    </div>
  </div>
  <div class="row">
    <a href="/service/gift/index.ognc" class="m-gift-balance">
      <div class="m-card-balance m-bg-arrow">Check gift card balance</div>
    </a>
  </div>
</div>
