<div id="m-warranty-modal">
  <div class="m-header mb-modal-header">

    <div class="row">
      <div class="small-1 columns m-header-first"><div class="mb-j-modalHeader-left m-back">&nbsp;</div></div>
      <div class="small-10 columns m-header-title left nopad">Warranty Information</div>
    </div>
  </div>

  <div class="mb-modal-content">

      <div class="small-18 small-centered columns">

        <p>Certain items are covered by warranty as indicated. To obtain a copy of the warranty prior to purchase, please write to:</p>

        <address class="m-warranty-address">
          <span>macys.com Customer Service Dept.</span>
          <span>P.O.Box 8215</span>
          <span>Mason, Ohio 45040</span>
          <span>Attention: Small Ticket Department - Warranty</span>
        </address>

      </div>
  </div>
</div>
