<form id="mb-keyword-search-form" action="http://m.macys.com/shop/search" method="get">
  <input type="hidden" name="cm_sp" value="navigation_mew--gn--search-n-n">
  <div id="m-search-input-wrapper">
    <input id="mb-j-search-field" name="keyword" type="text" value="{{searchPhrase}}" maxlength="50" autocorrect="off" autocomplete="off" placeholder="Search or enter web ID" class="m-j-cm-manual-link" data-cm-manual-link="mew_navigation-_-top_nav-_-search"/>
    <div id="mb-j-search-clear" class="hide"></div>
    <button id="m-search-go" type="submit" value="GO">&nbsp;</button>
  </div>
</form>
