<article id="m-shop-categories-view">
  <section  class="m-header">
    <div class="row">
      <h1 id="m-shop-categories-header" class="small-12 columns m-header-title">
        Shop By Category
      </h1>
    </div>
  </section>

  <section id="m-shop-categories-container">
    {{> shopCategoriesList}}
  </section>
</article>