<div id="m-signin-modal">
  <div class="m-header mb-modal-header">
    <div class="row">
      <div class="small-1 columns m-header-first"><div class="mb-j-modalHeader-left m-back">&nbsp;</div></div>
      <div class="small-10 columns m-header-title left nopad">SIGN IN</div>
    </div>
  </div>
  <div class="mb-modal-content">
    <form id="mb-login-modal-form" onsubmit="return false;">
          
      <section>
        <div class="m-j-login-modal-div form-item">
          <div id="mb-j-signup-email-label">Email</div>
          
          <div><input type="email" name="mb-j-signup-email" id="mb-j-signup-email" value="" class="m-j-login-modal-form-field" pattern="[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}"/></div>
          <div id="m-j-login-email-errormsg" class="m-sigin-in-field-error">  </div>
        </div>
        <div class="m-j-login-modal-div form-item">
          <div id="mb-j-signup-password-label">Password</div>
          <div id="mb-j-signup-password-warning">Passwords are case sensitive</div>
          <div><input type="password" name="mb-j-signup-password" id="mb-j-signup-password" value=""/></div>
          <div id="m-j-login-password-errormsg" class="m-sigin-in-field-error">  </div>
        </div>
        <div class="m-checkbox m-j-login-modal-div" style="padding: 0px 0 20px 0;">
            <input id="mb-j-signup-rememberme" type="checkbox" name="rememberMe" value="1" /><span class="m-checkbox-placeholder"></span>
            <label for="remember-me-checkbox">Remember me</label>
          </div>
        <div class="m-j-login-modal-div">
          <div>
            <button id="mb-j-signin-button" class="m-j-login-modal-signin-btn m-sign-in-deactivate m-button-disable-forgot-password-active" disabled="disabled" type="button">sign in</button>
          </div>
        </div>
      </section>
      <section>
        <div class="m-j-login-modal-div">
          <div><a href="{{ getDomainURL }}/account/profile" id="mb-j-signin-create-account-button" class="m-button black m-button-disable-forgot-password-active">create account</a></div>
        </div>
      </section>
      <section id="m-forgot-password-section" class="form-section">
        <div id="form-collapsible-forgot-password" class="form-collapsible" data-expandable="container">
          <div class="form-collapsible-label form-label" data-expandable="button" id="m-forgot-password-label">forgot password</div>
          <div id="mb-j-forgot-password-container" class="form-collapsible-content" data-expandable="content"></div>
        </div>
      </section>

      <section>
        <div class="m-j-login-modal-benefits-account m-j-login-modal-list">
          <a href="https://customerservice.macys.com/app/answers/detail/a_id/328" target="_default">
            <div class="m-bg-arrow">Benefits of an Account</div>
          </a>
        </div>
        <div class="m-j-login-modal-privacy-policy m-j-login-modal-list">
          <a href="https://customerservice.macys.com/app/answers/detail/a_id/40/" target="_default">
            <div class="m-bg-arrow">Privacy Policy</div>
          </a>
        </div>
      </section>
      <section id="m-stay-safe-section" class="form-section">
        <div class="m-j-login-modal-div-rules">
          <div id="m-stay-safe-rules-pre">Basic password rules:</div>
          <div id="m-stay-safe-rules">
            <ul id="m-stay-safe-rules-bullets">
              <li><label>Change your passwords periodically.</label></li>
              <li><label>Avoid re-using password for multiple sites.</label></li>
              <li><label>Use complex characters including uppercase and numbers.</label></li>
            </ul>
          </div>
        </div>
      </section>

    </form>
  </div>
</div>