<div class="m-map-info-window">
  <div class="call"><a href="tel://18002896229">&nbsp;</a></div>
  <div class="mb-j-store-list-entry {{#if isInFavorites}}m-favorite-store{{/if}}" data-location="{{locationNumber}}">
    <div class="m-store-map-name">{{name}}</div>
    <div class="m-store-map-loc">{{address.line1}}{{#if address.line2}}, {{address.line2}}{{/if}}</div>
  </div>
  <div class="clearfix"></div>
</div>