<header class="m-header mb-modal-header">
  <div class="row">
    <div class="small-1 columns m-header-first"><div class="mb-j-modalHeader-left m-back">&nbsp;</div></div>
    <div class="small-10 columns m-header-title left nopad">View Map</div>
  </div>
</header>
<div class="mb-modal-content">
  <div id="m-map-header"></div>
  <div id="m-map" style="width: 100%;"><div class="spinner white-60">&nbsp;</div></div>
</div>
