<div id="m-store-favorites">
  <div id="m-j-mask" class="m-j-favorite-stores-done"></div>
  <h2>My Favorite Stores</h2>
  <button id="m-j-favorite-stores-edit">edit</button>
  <button id="m-j-favorite-stores-done" class="m-j-favorite-stores-done">done</button>
  <div class="clearfix"></div>

  {{> storeResultsList}}
</div>