<div id="mb-header-image-container">
  <img id="mb-j-header-image" class="logo" src="images/macys.png">
</div>
<div id="header">
  <i id="mb-j-nav-button" class="icon-unselectedMenuButton"></i>
  <div id="mb-bag-count-container"></div>
</div>
