<form id="mb-keyword-search" action="http://m.macys.com/shop/search" method="get">
    <input id="mb-j-search-form" class="search-query medium typeahead icon-search" type="search"  placeholder="Search" data-provide="typeahead"> </input>
    {{! <button id="mb-search-go" class="primary" type="submit">GO</button> }}
</form>