<div>
        <img src="../../images/vip.png" width="320" border="0" style="margin-top: -3px">
</div>
<section class="m-shop">

    <div id="m-brand-coach" class="m-image-box-s">
        <img src="http://assets.macys.com/navapp/dyn_img/cat_splash/0219_coach_brandshop_icons_05_1086926.jpg" alt="special offers" width="112" height="150" style="margin-top: -20px;" border="0">
    </div>

    <div id="m-brand-impulse" class="m-image-box-s">
        <img src="http://assets.macys.com/navapp/dyn_img/cat_splash/Spring_Impulse_Banners_subad_1087628.jpg" alt="impulse" border="0" style="margin-top: -2px">
    </div>

    <div id="m-brand-burberry" class="m-image-box-dbl">
        <img src="../../images/burberry.png" height="120" border="0">
    </div>

    <div id="m-brand-dior" class="m-image-box-s">
        <img src="../../images/dior.png" border="0">
    </div>

    <div id="m-brand-levis" class="m-image-box-s">
        <img src="../../images/levis.png" width="112" height="112" border="0" style="margin-top: -3px">
    </div>

    <div class="m-image-box-dbl m-other-brands">
        shop by brand...
    </div>
</section>