<div id="b-home">
    
	<section id="b-hp-ad-container"></section>
		   
	<div id="b-hp-footer-links">
		<ul id="b-hp-footer-store-promotions">
			<li id="b-hp-footer-promotions">
				<a href="{{baseUrl}}/shop/sales-offers"></a>
			</li>
			<li id="b-hp-footer-store">
				<a href="{{baseUrl}}/shop/store/search"></a>
			</li>
		</ul>
	</div>

</div>
