<div class="b-overlay-header">
  <div class="b-atr-title"><div class="icon-registry-title"></div></div>
  <div class="mb-j-overlay-close"><span class="b-overlay-close-text">Close</span><a class="icon-close"></a></div>
</div>
<div class="b-overlay-content">
  <div class="b-atr-profile-not-found">We're unable to find your registry<br>in your online profile.</div>

  <div class="b-overlay-buttons">
  	<div class="b-atr-access-registry-group">
			<div class="b-atr-question">Registered in store?</div>
			<button class="mb-j-atr-access-registry">Access Registry</button>
  	</div>

  	<div class="b-atr-create-registry-group">
			<div class="b-atr-question">Want to create a registry?</div>
			<button class="mb-j-atr-create-registry">Create Registry</button>
		</div>
	</div>
</div>
