.mb-ratingselect-widget {
  text-align: center;

  .mb-j-ratingselect-item {
    background: url("../../images/star_white-and-red.svg") center 0 no-repeat;
    background-size: auto 100px;
    display: inline-block;
    height: 40px;
    width: 40px;

    &.active {
      background-position: center -60px;
    }
  }
}
