{{#isValidPromoType promotions}}
<section id="b-pdp-offers-bottom" class="b-pdp-info-section-container b-pdp-offers">
  <div class="b-pdp-info-section" >
    <div id="b-pdp-offers-label-bottom" class="b-pdp-info-label">{{whichOffer promotions}}{{offersCount promotions}}</div>
    <div class="icon-right-arrow-gray"></div>
  </div>
</section>
{{/isValidPromoType}}
