<div id="b-product-pricing-policy_{{id}}" class="b-j-product-modal-link">
  <a href="{{#displayConfig}}{{paths.rightnowUrl}}{{/displayConfig}}/app/answers/list/c/33" target="_blank">
    <span>Pricing Policy</span>
  </a>
</div>