<section class="b-product-prices single">
{{#productCurrentPrice prices}}
  <div class="b-product-price {{stripNonAlpha label}}">
    <span class="b-product-price-amt">{{amt}}</span>
  </div>
{{/productCurrentPrice}}
</section>