<div id="mb-write-review-confirm">
  <div class="title">Thanks for your review.</div>
  <div class="text">Please note that your review may take up to 48 hours to appear.</div>
  <button id="mb-j-write-review-confirm-continue" class="b-black-button">Continue shopping</button>
</div>

