<section id="b-product-partofcollection" class="b-pdp-info-section-container">

  <div class="b-product-partofcollection-wrapper">
    <div class="b-product-partofcollection-image">
      <img src="{{#displayConfig}}{{paths.product.image}}{{/displayConfig}}{{image}}?wid=95" class="b-product-img" />
    </div>
    <div class="b-product-partofcollection-info">
      <p>This item is part of {{name}}</p>

      <a class="b-j-product-link b-j-product-partofcollection-btn" href="{{productUrl}}" data-transition="slide" data-transition-direction="reverse">SHOP THE LOOK</a>
    </div>
  </div>

</section>