{{! Display link for store lookup }}
<div class="b-product-bops-section b-product-bops-availability">
  <span class="b-product-bops-label" id="b-product-bops-label-store-{{id}}">In store availability</span>
  <br>
  <span id="b-product-bops-availability-copy">
    <a id="b-j-bops-store-lookup-{{id}}" class="b-j-bops-store-lookup">Check local stores</a> if you want it sooner
  </span>
</div>
