<div class="m-forgot-password-view-title">Forgot Password</div>
<p>Your email address:<br/>{{emailAddress}}</p>

<div id="m-forgot-password-captcha-block">
	<img id="m-forgot-password-captcha" src="data:image/jpg;base64,{{challengeImage}}" alt="Captcha" class="spinner">
	<!--<button id="mb-forgot-password-captcha-refresh">new image</button>-->
	<!--<img id="mb-forgot-password-captcha-refresh" class="mb-forgot-password-captcha-refresh" src="/mew20/images/captcha_refresh.svg"></img>-->
	<!--<button id="mb-forgot-password-captcha-refresh" class="mb-forgot-password-captcha-refresh-btn"></button>-->
	<div id="mb-forgot-password-captcha-refresh" class="m-j-captcha-refresh white-60 m-j-captcha-refresh-css"></div>
	<!--<div id="mb-j-spinner" class="spinner white-60"></div>-->
</div>

<p>Please enter the characters shown above and we'll email you a link to reset your password:</p>

<div class="form-item">
  <input id="mb-j-forgot-password-captcha" type="text" name="captcha" autocomplete="off" />
</div>

<button id="mb-j-forgot-password-button-check-captcha" class="m-j-login-forgot-password-next-btn m-sign-in-deactivate" disabled="disabled" type="button">next</button>
