<div class="m-forgot-password-view-title">Forgot Password</div>
<div>Enter your new password.</div>
<div class="form-item">
  <div id='m-j-forgot-password-new-password-label' class="m-forgot-password-reset-label">New Password</div>
  <input id="mb-j-forgot-password-new-password" type="password" name="password"/>
</div>
<div class="form-item">
  <div id='m-j-forgot-password-verify-password-label' class="m-forgot-password-reset-label">Confirm New Password</div>
  <input id="mb-j-forgot-password-verify-password" type="password" name="verifyPassword"/>
</div>

<button id="mb-j-forgot-password-button-reset-password" class="m-j-login-forgot-password-next-btn m-sign-in-deactivate" disabled="disabled" type="button">save & sign in</button>
