<div class="m-forgot-password-view-title">Forgot Password</div>
<p>Your email address:<br/>{{emailAddress}}</p>
<p>{{hintQuestion}}</p>

<div class="form-item">
  <div id="mb-j-forgot-password-hint-answer-label">Answer</div>
  <input id="mb-j-forgot-password-hint-answer" type="text" name="answer" autocomplete="off" autocorrection="off"/>
</div>

<button id="mb-j-forgot-password-button-check-hint-answer" class="m-j-login-forgot-password-next-btn m-sign-in-deactivate" disabled="disabled" type="button">next</button>
