<div class="m-forgot-password-view-title">Forgot Password</div>
<p>Enter your email address to reset your password</p>

<div class="form-item">
  <div id="m-j-forgot-password-email-label">Enter Email</div>
  <input id="mb-j-forgot-password-email" type="email" name="email" autocomplete="off" autocorrection="off" pattern="[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}"/>
</div>

<button id="mb-j-forgot-password-button-show-hint-question" class="m-j-login-forgot-password-next-btn m-sign-in-deactivate" disabled="disabled" type="button">next</button>
