<div class="b-bops-learn-more-modal">

  <div class="mb-modal-header">
    <div class="row">
      <div class="small-3 columns" style="text-align: left">
        <div class="mb-j-modalHeader-left b-back"><span>Back</span></div>
      </div>
      <div class="small-6 columns b-modalHeader-title">
        In-Store Pickup
      </div>
      <div class="small-3 columns">&nbsp;</div>
    </div>
  </div>

  <div class="mb-modal-content">
    <div class="b-bops-learn-more-modal-content">
      <p>Need it now? In-store pickup is a free service that allows you to pick up certain items at select Bloomingdale's stores within hours of placing your order online. If an item is available for in-store pickup, information for the store closest to you will be displayed on the product's page as well as during check out (you can look up other locations by clicking "CHECK ANOTHER STORE").</p>
      <p>To use the service, add the item to your bag and select the "PICK UP IN STORE" option during checkout. We will notify you by email when your order is ready for pickup.</p>
    </div>
  </div>

</div>
