<div class="b-gift-cards-terms-modal">

    <div class="mb-modal-header">
        <div class="row">
            <div class="small-3 columns" style="text-align: left">
                <div class="mb-j-modalHeader-left b-back"><span>Back</span></div>
            </div>
            <div class="small-6 columns b-modalHeader-title">
                Terms and Conditions
            </div>
            <div class="small-3 columns">&nbsp;</div>
        </div>
    </div>

    <div class="mb-modal-content">
        <div class="b-gift-cards-terms-modal-content">

            <p>For balance or customer service go to bloomingdales.com/gcbal or any Bloomingdale's store, or call 1-800-511-2752. This card is redeemable only for merchandise and in-store services at Bloomingdale's (USA stores only) and bloomingdales.com. It may not be redeemed for cash (except as required by law) or applied as payment or credit to any credit card account. Bloomingdale's cards may be purchased as a gift or given in place of issuing a credit to a credit card or a proof of purchase return from another payment method. Returns may be applied to this card. Card receipts will show any remaining balance. Protect this card: you are responsible if it is lost or stolen. Lost or stolen cards will only be replaced with proof of purchase and only for the value shown on our records. This card is issued by Bloomingdale's Gift Card, LLC and is required for all inquiries.</p>

            <p>Bloomingdale's Gift cards sold on or after 2/3/08 do not expire!</p>

            <p>No fees are imposed.</p>

            <p>No more than $2000 may be loaded onto a gift card in a single day (including purchasing additional value and/or adding returns to a gift card).</p>
        </div>
    </div>

</div>
