<div class="b-bops-learn-more-modal">

  <div class="mb-modal-header">
    <div class="row">
      <div class="small-3 columns" style="text-align: left">
        <div class="mb-j-modalHeader-left b-back"><span>Back</span></div>
      </div>
      <div class="small-6 columns b-modalHeader-title">
        On order
      </div>
      <div class="small-3 columns">&nbsp;</div>
    </div>
  </div>

  <div class="mb-modal-content">
    <div class="b-bops-learn-more-modal-content">
      <p>“On order” means that we are awaiting new stock, but you may reserve merchandise before it’s available for shipment. You will receive the item within the projected time frame provided on the product page. You will be charged only when your item ships and will not incur additional shipping fees.</p>
    </div>
  </div>

</div>
