<div class="b-product-warranty-info">

  <div class="mb-modal-header">
    <div class="row">
      <div class="small-4 columns b-header-first">
        <div class="b-j-offers-warranty-close b-back">
        	<span>Back</span>
        </div>
      </div>
      <div class="small-8 columns b-header-title ">
        Warranty
      </div>
    </div>
  </div>

  <div class="mb-modal-content">
    <div class="b-warranty-modal-content">
    <p>Certain items are covered by warranty as indicated. To obtain a copy of the warranty prior to purchase, please write to:</p>
    <p>
      Bloomingdales.com Customer Service Dept. <br>
      P.O. Box 8215 <br>
      Mason, Ohio 45040 <br>
      Attention: Small Ticket Department – Warranty <br>
    </p>
  </div>
  </div>

</div>
