<header class="mb-modal-header">
  <div class="row">
    <div class="small-3 columns" style="text-align: left">
      <div id="b-map-back" class="b-back"><span>Back</span></div>
    </div>
    <div class="small-6 columns b-modalHeader-title b-store-map-modal-title">
      VIEW MAP
    </div>
    <div class="small-3 columns">
    </div>
  </div>
</header>
  <div id="b-map-header"></div>
  <div id="mb-j-map" style="width: 100%;">
  </div>
</div>
