<div id="b-forgot-password-email-confirmation">
  <p>Thanks! We've emailed you at {{emailAddress}} with a link to reset your password.</p>
  <p>Please note: For your security, the link will expire in 24 hours.</p>  
</div>
