<p>Your email address:<br/>{{emailAddress}}</p>
<p>Before you create a new password, please answer your security question:</p>
<p>{{hintQuestion}}</p>

<div class="form-item">
  <div class="form-label">Answer</div>
  <input id="mb-j-forgot-password-hint-answer" type="password" name="answer" autocomplete="off" autocorrection="off"/>
  <div id="b-forgot-password-error-invalid-hint-question" class="b-input-field-error b-inline">
    <div class="b-input-field-error-text"></div>
  </div>
</div>

<button id="mb-j-forgot-password-button-check-hint-answer" class="b-forgot-password-button" type="button">Next</button>
