<div class="form-item">
  <div class="form-label">Enter New Password</div>
  <input id="mb-j-forgot-password-new-password" type="password" name="password"/>
  <div id="b-forgot-password-error-invalid-new-password" class="b-input-field-error b-inline">
    <div class="b-input-field-error-text"></div>
  </div>
</div>
<div class="form-item">
  <div class="form-label">Reenter New Password</div>
  <input id="mb-j-forgot-password-verify-password" type="password" name="verifyPassword"/>
  <div id="b-forgot-password-error-invalid-verify-password" class="b-input-field-error b-inline">
    <div class="b-input-field-error-text"></div>
  </div>
</div>

<button id="mb-j-forgot-password-button-reset-password" class="b-forgot-password-button" type="button">Submit</button>
