<p>Enter your email address to reset your password:</p>

<div class="form-item">
  <div class="form-label">Email Address</div>
  <input id="mb-j-forgot-password-email" type="email" name="email" autocomplete="off" pattern="[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}" autocorrection="off"/>
  <div id="b-forgot-password-error-invalid-email" class="b-input-field-error b-inline">
    <div class="b-input-field-error-text"></div>
  </div>
</div>

<button id="mb-j-forgot-password-button-show-hint-question" class="b-forgot-password-button" type="button">Next</button>
