<p>Your email address:<br/>{{emailAddress}}</p>

<div id="b-forgot-password-captcha-section">
  <div style="float: right; font-size: 12px;">
    <button id="mb-forgot-password-captcha-refresh" type="button">Refresh</button>
  </div>
  <div id="b-forgot-password-captcha-image-wrapper">
    <img id="b-forgot-password-captcha" src="data:image/jpg;base64,{{challengeImage}}" alt="Captcha">
  </div>
</div>

<p>Please enter the characters shown above and we'll email you a link to reset your password:</p>

<div class="form-item">
  <input id="mb-j-forgot-password-captcha" type="text" name="captcha" autocomplete="off" />
  <div id="b-forgot-password-error-invalid-captcha" class="b-input-field-error b-inline">
    <div class="b-input-field-error-text"></div>
  </div>
</div>

<button id="mb-j-forgot-password-button-check-captcha" class="b-forgot-password-button" type="button">Submit</button>
