<div id="b-forgot-password"> 
  <div id="b-forgot-password-general-error" class="b-form-general-error"></div>
  <form id="mb-forgot-password-form">
    <div id="mb-forgot-password-view-container"></div>
  </form>
</div>